*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: #f9f9f9;
}
.logo{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
.menuNav{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:flex-start;
}
.Btn{
  margin: 5px 10px 5px 0;
  padding:6px 14px;
  background: teal;
  color:white;
  cursor: pointer;
  border-radius: 3px;
}
.menuNav .btn:hover{
color:white;
}
.Btn:hover{
  background: rgb(7, 150, 150);
}
.card-title{
  margin-top:5px;
}
.cat{
  color:#555;
}
.card-body{
  position: relative;
}
.menuId{
 position: absolute;
    /* bottom: 165px; */
    top: 25px;
    right: 20px;
    padding: 2px 9px;
    font-size: 18px;
    background-color: lightgray;

}